In [ ]:
import numpy as np

docs = [
    "Dhaka is the capital of Bangladesh",
"The Sundarbans is a famous mangrove forest",
"The Padma River is a major river in Bangladesh",
"Bangladesh gained independence in 1971",
"The national language is Bengali",
"Cox's Bazar has the longest sea beach",
"The national sport is Kabaddi",
"Bangladesh has a rich cultural heritage",
"The population is over 160 million",
"Dhaka is known for its vibrant street food"
]

In [ ]:
from keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer()
tokenizer.fit_on_texts(docs)

In [ ]:
tokenizer.word_index

{'is': 1,
 'the': 2,
 'bangladesh': 3,
 'a': 4,
 'dhaka': 5,
 'river': 6,
 'in': 7,
 'national': 8,
 'has': 9,
 'capital': 10,
 'of': 11,
 'sundarbans': 12,
 'famous': 13,
 'mangrove': 14,
 'forest': 15,
 'padma': 16,
 'major': 17,
 'gained': 18,
 'independence': 19,
 '1971': 20,
 'language': 21,
 'bengali': 22,
 "cox's": 23,
 'bazar': 24,
 'longest': 25,
 'sea': 26,
 'beach': 27,
 'sport': 28,
 'kabaddi': 29,
 'rich': 30,
 'cultural': 31,
 'heritage': 32,
 'population': 33,
 'over': 34,
 '160': 35,
 'million': 36,
 'known': 37,
 'for': 38,
 'its': 39,
 'vibrant': 40,
 'street': 41,
 'food': 42}

In [ ]:
tokenizer.word_counts

OrderedDict([('dhaka', 2),
             ('is', 7),
             ('the', 7),
             ('capital', 1),
             ('of', 1),
             ('bangladesh', 4),
             ('sundarbans', 1),
             ('a', 3),
             ('famous', 1),
             ('mangrove', 1),
             ('forest', 1),
             ('padma', 1),
             ('river', 2),
             ('major', 1),
             ('in', 2),
             ('gained', 1),
             ('independence', 1),
             ('1971', 1),
             ('national', 2),
             ('language', 1),
             ('bengali', 1),
             ("cox's", 1),
             ('bazar', 1),
             ('has', 2),
             ('longest', 1),
             ('sea', 1),
             ('beach', 1),
             ('sport', 1),
             ('kabaddi', 1),
             ('rich', 1),
             ('cultural', 1),
             ('heritage', 1),
             ('population', 1),
             ('over', 1),
             ('160', 1),
             ('million', 1),
             ('known', 1),
             ('for', 1),
             ('its', 1),
             ('vibrant', 1),
             ('street', 1),
             ('food', 1)])

In [ ]:
tokenizer.document_count

10

In [ ]:
sentences = tokenizer.texts_to_sequences(docs)
sentences

[[5, 1, 2, 10, 11, 3],
 [2, 12, 1, 4, 13, 14, 15],
 [2, 16, 6, 1, 4, 17, 6, 7, 3],
 [3, 18, 19, 7, 20],
 [2, 8, 21, 1, 22],
 [23, 24, 9, 2, 25, 26, 27],
 [2, 8, 28, 1, 29],
 [3, 9, 4, 30, 31, 32],
 [2, 33, 1, 34, 35, 36],
 [5, 1, 37, 38, 39, 40, 41, 42]]

In [ ]:
from keras.utils import pad_sequences
padded_sentences = pad_sequences(sentences, padding="post")
padded_sentences

array([[ 5,  1,  2, 10, 11,  3,  0,  0,  0],
       [ 2, 12,  1,  4, 13, 14, 15,  0,  0],
       [ 2, 16,  6,  1,  4, 17,  6,  7,  3],
       [ 3, 18, 19,  7, 20,  0,  0,  0,  0],
       [ 2,  8, 21,  1, 22,  0,  0,  0,  0],
       [23, 24,  9,  2, 25, 26, 27,  0,  0],
       [ 2,  8, 28,  1, 29,  0,  0,  0,  0],
       [ 3,  9,  4, 30, 31, 32,  0,  0,  0],
       [ 2, 33,  1, 34, 35, 36,  0,  0,  0],
       [ 5,  1, 37, 38, 39, 40, 41, 42,  0]], dtype=int32)